<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<style>
.sticker {
    height: <%= height %>px;
    width: <%= width %>px;
}

h1, p {
    text-align: center;
}
</style>

<body>
    <div class="sticker">
        <h1>Apiculture Bertschy</h1>
        <p>Cire gaufrée Dadant Corps</p>
        <p>Quantité : 5g</p>
    </div>
</body>
</html>